<header class="main_nav">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <a class="navbar-brand p_0" href="/"><img class="nav-logo" src="/images/logo/29.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto blog-page">
                    <li class="nav-item"><a class="nav-link" href="/#top" data-target="#top">Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/#about" data-target="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#skill" data-target="#skill">Skill</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#certifications" data-target="#certifications">Certifications</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#experience" data-target="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/blog.html" data-target="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact" data-target="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>