<div class="widget mb_60 d-inline-block p_30 primary_link bg_white full_row wow animated slideInUp">
    <h3 class="widget_title mb_30 text-capitalize">Recent Post</h3>
    <div class="recent_post">
        <ul>
            <li class="mb_30">
                <a href="/blog/2020/12/15/lesson-learned-while-working-with-episerver-commerce-service-api.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Lesson learned while working with Episerver Commerce Service API</h6>
                        <span class="color_gray">15 Dec 2020</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2020/09/01/possible-ways-to-login-into-episerver-commerce-manager.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Possible ways to login into Episerver Commerce Manager</h6>
                        <span class="color_gray">01 Sep 2020</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2020/05/25/unlock-locked-episerver-commerce-user-account.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Unlock locked Episerver Commerce user account</h6>
                        <span class="color_gray">25 May 2020</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2020/05/23/reset-or-update-episerver-commerce-manager-admin-password.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Reset/Update Episerver Commerce Manager admin password</h6>
                        <span class="color_gray">23 May 2020</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2020/04/15/use-of-episerver-url-class-in-propertyList.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Use of Episerver URL property in PropertyList</h6>
                        <span class="color_gray">15 April 2020</span>
                    </div>
                </a>
            </li>
           
        </ul>
    </div>
</div>