<div class="widget mb_60 d-inline-block p_30 primary_link bg_white full_row wow animated slideInUp">
    <h3 class="widget_title mb_30 text-capitalize">Recent Post</h3>
    <div class="recent_post">
        <ul>
            <li class="mb_30">
                <a href="#">
                    <div class="post_img"><img src="/images/epi.jpeg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Exclude/Disable specific items from index in Episerver Find</h6>
                        <span class="color_gray">15 Dec 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="#">
                    <div class="post_img"><img src="/images/epi.jpeg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Categorizing the user-defined properties in All-Properties view Episerver CMS</h6>
                        <span class="color_gray">03 Nov 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="#">
                    <div class="post_img"><img src="/images/epi.jpeg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Improve editor experience for DateTime property</h6>
                        <span class="color_gray">05 Oct 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="#">
                    <div class="post_img"><img src="/images/epi.jpeg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Rebuild the index for selected sites in Episerver Find | Admin Tool</h6>
                        <span class="color_gray">01 Oct 2019</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>