<div class="widget mb_60 d-inline-block p_30 primary_link bg_white full_row wow animated slideInUp">
    <h3 class="widget_title mb_30 text-capitalize">Recent Post</h3>
    <div class="recent_post">
        <ul>
            <li class="mb_30">
                <a href="/blog/2020/04/15/use-of-episerver-url-class-in-propertyList.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Use of Episerver URL property in PropertyList</h6>
                        <span class="color_gray">15 April 2020</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2019/12/15/disable-indexing-for-specific-item-in-episerver-find.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Exclude/Disable specific items from index in Episerver Find</h6>
                        <span class="color_gray">15 Dec 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2019/11/03/categorizing-the-user-defined-properties-in-all-properties-view-episerver-cms.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Categorizing the user-defined properties in All-Properties view Episerver CMS</h6>
                        <span class="color_gray">03 Nov 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2019/10/05/improve-editor-experience-for-datetime-property.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Improve editor experience for DateTime property</h6>
                        <span class="color_gray">05 Oct 2019</span>
                    </div>
                </a>
            </li>
            <li class="mb_30">
                <a href="/blog/2019/10/01/rebuild-the-index-for-selected-sites-in-episerver-find-admin-tool.html">
                    <div class="post_img"><img src="/images/epi.jpg" alt="image"></div>
                    <div class="recent_post_content">
                        <h6>Rebuild the index for selected sites in Episerver Find | Admin Tool</h6>
                        <span class="color_gray">01 Oct 2019</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>